<h3>Search Products by Title</h3>
<search placeholder="Enter a product's title"
        (searchValueChanged)="filterProducts($event)"
        (searchReset)="resetSearch()">
</search>
<h2>Products</h2>
<p>Amount: {{filteredProducts.length}}</p>
<div class="row row_header" *ngIf="filteredProducts.length > 0">
  <div class="col-md-6">Title</div>
  <div class="col-md-2">ID</div>
  <div class="col-md-2">Publication Date</div>
  <div class="col-md-2">Language Code</div>
</div>
<div class="row" *ngFor="let product of filteredProducts">
  <div class="col-md-6">{{product.title}}</div>
  <div class="col-md-2">{{product.id}}</div>
  <div class="col-md-2">{{product.publicationDate}}</div>
  <div class="col-md-2">{{product.languageCode}}</div>
</div>
